modules = ["go"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Go Microservice"

[[workflows.workflow]]
name = "Go Microservice"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "go mod tidy && go run main.go"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 8080

[[ports]]
localPort = 8080
externalPort = 5000

